#container{width:96%;}
#left{float:left;}
#right{float:right;}
#center{margin:0 auto;}

#u1{
height:15px;
width:60px;
margin:0 auto;
margin-bottom: 200px;
}

#u2{
height:15px;
width:60px;
}

#u3{
height:15px;
width:60px;
}

#uno-tas{
        height: 100px;
        width: 46%;
        margin: auto;
    }

	#uno-game{
        height: 140px;
        width: 46%;
        background: green;
        border: 5px solid #000000;
        margin: auto;
        margin-top: 100px;
    }
    #my-cards{
        bottom: 5px;
        margin: auto;
    }
    .card{
        display: block;
        height: 100px;
        width: 14%;
        color: white;
        border: 1px solid #000;
        border-radius: 5px;
        position: relative;
        left: 6%;
        bottom: auto;
        top: auto;
        float: left;
        padding: 5px;
      -moz-transition: all 0.5s ease-in-out;
      -webkit-transition: all 0.5s ease-in-out;
    }
    .card_white{
        display: block;
        height: 100px;
        width: 14%;
        color: white;
        position: relative;
        margin-left: 16%;
        bottom: auto;
        top: auto;
        padding: 5px;
        float: left;
      -moz-transition: all 0.5s ease-in-out;
      -webkit-transition: all 0.5s ease-in-out;
    }
    
    .card:hover{
        z-index: 1;
    }
    .card-inner{
        height: 49%;
        width: 54%;
        color:brown;
        background: wheat;
        border-radius: 40px;
        margin-top: 25px;
        margin-left: 5px;
        padding-left: 23px;
        padding-top: 6px;
        font-size: 35px;
        font-weight: bold;
    }
    
    
    .vert{
        background: rgb(101, 156, 16);
    }
    .rouge{
        background: orangered;
    }
    .bleu{
        background: skyblue;
    }
    .jaune{
        background: yellow;
    }
    .noir{
        background: black;
    }
    .blanc{
        background: white;
    }
